@model IEnumerable<TesteDDD.NetCORE.Domain.ViewModels.PessoaViewModel>

@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listar pessoas</h2>

<p>
    <a asp-action="Cadastrar">Cadastrar</a>
</p>

<form asp-controller="Pessoa" asp-action="Listar" method="get">
    <div class="form-group">
        @*<label class="control-label"></label>
            <input name="cargoId" type="text" id="cargoId" class="form-control" />*@
        <label for="slcCargo" class="control-label">Cargo</label>
        <select name="cargoId" class="form-control"
                asp-items="@(new SelectList(ViewBag.Cargos,"Id","Nome", ViewBag.Selected))">
            <option>Selecione</option>
        </select>
        <input type="submit" value="Filtrar" />
    </div>

</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Cargo
            </th>
            <th>
                Salário
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RG)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cargo.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cargo.SalarioBase)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Update", "Pessoa", new { id = item.Id }) |
                    <input type="button" value="Excluir" onclick="excluirPessoa(@item.Id)" />
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function excluirPessoa(itemId) {
            $.ajax({
                contentType: "application/json",
                url: '@(Url.Action("Delete", "Pessoa"))',
                cache: false,
                data: { id: itemId },
                success: function (response) {
                    if (response) {
                        window.location.reload(true);
                    }
                }
            });
    }
</script>
