@model IEnumerable<TesteDDD.NetCORE.Domain.ViewModels.CargoViewModel>

@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listar cargos</h2>

<p>
    <a asp-action="Cadastrar">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nome
            </th>
            <th>
                Salário base
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    R$ @Html.DisplayFor(modelItem => item.SalarioBase)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Update", "Cargo", new { id = item.Id }) |
                    @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                    <input type="button" value="Excluir" onclick="excluirCargo(@item.Id)" />
                    @*@Html.ActionLink("Excluir", "Delete", "Cargo", new { id = item.Id })*@
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function excluirCargo(itemId) {
            $.ajax({
                contentType: "application/json",
                url: '@(Url.Action("Delete", "Cargo"))',
                cache: false,
                data: { id: itemId },
                success: function (response) {
                    if (response) {
                        window.location.reload(true);
                    }
                }
            });
    }
</script>
